:root {
    --glass: rgba(255,255,255,0.54);
}

.App{
    background:linear-gradient(
    106.37deg,
    #d4fc79 29.36%,
    #96e6a1 51.55%,   
    #c2f0c2 90.85%  
    );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter' , sans-serif;
}

.AppGlass{
    display: grid;
    height: 97%; 
    width: 97%;
    border-radius: 2rem;
    background-color: var(--glass);
    overflow: hidden;
    grid-template-columns: 11rem auto 20rem;
    gap: 30px;
}

@media screen and (max-width: 1200px) {
    .AppGlass{
      grid-template-columns: 10% 50% auto;
      overflow-y: scroll;
    }
}

@media screen and (max-width: 768px)
{
    .AppGlass{
        grid-template-columns: 1fr;
    }
    .AppGlass::-webkit-scrollbar{
        display: none;
    }
}