.sidebar{
    display: flex;
    flex-direction: column;

    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
}

.logo {
    display: flex;
    align-items: center; 
    gap: 1rem;
    height: 5rem;
    font-weight: bold;
    font-size: 22px;
    justify-content: center;
    height:4%;
}

.logo>img {
    width: 3rem; /* Adjust image width */
    height: 3rem; /* Maintain aspect ratio */
}

.logo>span>span {
    color: #198754; 
}

.menu {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;
}

.menuitem {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2.5rem;
    margin-left: 2rem;
    position: relative;
    transition: all 300ms ease;
    font-size: 14px;
    border-radius: 0.7rem;
}


.menuitem:hover {
    cursor:pointer;
    background: rgba(25, 135, 84, 0.1); /* subtle green hover */
    color: #198754; 
}

.active {
    background: rgba(25, 135, 84, 0.2);
    margin-left: 0;
}

.active::before {
    content: '';
    width:8px;
    height:100%;
    background: #198754; ;
    margin-right: calc(1rem - 8px);
}

.menu .menuitem:last-child {
    position: relative;
    bottom: 2.3rem;
    width: 100%;
}

.bars{
    display: none;
}

@media screen and (max-width: 1200px)
{
    .menuitem>span{
        display: none; 
    }
    .logo {
        display: none;
    }
}

@media screen and (max-width: 768px)
{
    .sidebar{
      position: fixed;
      z-index: 9;
      background: linear-gradient(135deg, #b8f5c5, #c4f1e4); ;
      width: 55%;
      padding-right: 1rem;
      height: 100%;
    }
    .menuitem>span{
        display: block;
    }

    .logo
    {
        display: flex;
    }

    .menu .menuitem:last-child{
        position: relative;
        margin-top: 2rem;
    }

    .bars {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 2rem;
        z-index: 9;
        background: #d3fbe1;
        padding: 10px;
        border-radius: 10px;
    }
}